extends layout.pug

block content
    .table-container
        table
            if animes.length
                each anime in animes 
                    tr.anime-wrapper 
                        td
                            a.anime(href=`/animes/${anime.id}`)  #{anime.title}
                            a.anime(href=`/animes/${anime.id}`)  #{anime.edisodes} 
                        td
                            a.update-btn(href=`/${anime.id}/update`) Update 
                        td
                            a.delete-btn(href=`/${anime.id}/delete`) Delete 

            else 
                p No records found
    
